*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Folders & Project Files #
out/*
resources/client_secrets.json
.idea/*
src/META-INF/*
pcd-2016-team-kamino.iml
target/*

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
